{% extends 'base.html.twig' %}

{% block title %}Frog{% endblock %}

{% block body %}
    <h1>Frog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ frog.id }}</td>
            </tr>
            <tr>
                <th>Specie</th>
                <td>{{ frog.specie }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ frog.size }}</td>
            </tr>
            <tr>
                <th>SkinColor</th>
                <td>{{ frog.skinColor }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_frog_index') }}">back to list</a>

    <a href="{{ path('app_frog_edit', {'id': frog.id}) }}">edit</a>

    {{ include('frog/_delete_form.html.twig') }}
{% endblock %}
